<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration Page</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" name="username" id="username" placeholder="Enter UseName" required><br/>
        <input type="email" name="email" id="email" placeholder="Enter Email" required><br/>
        <input type="password" name="password" id="password" placeholder="Enter PassWord" required><br/>
        <button type="submit">Register</button>
    </form>
</body>
</html>